.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  transition: opacity 1s ease-out, transform 1s ease-out;
  visibility: hidden;
  will-change: opacity, visibility;

  // Allow for correct tab-through order of links
  a,
  button {
    visibility: visible;
    z-index: -1000;
  }
}

.fade-in-section--visible {
  opacity: 1;
  transform: none;
  visibility: visible;

  a,
  button {
    z-index: inherit;
  }
}
