.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  transition: opacity 1s ease-out, transform 1s ease-out;
  visibility: hidden;
  will-change: opacity, visibility;
}

.fade-in-section--visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
