nav {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  @media screen and (min-width: $desktop-breakpoint) {
    display: block;
    // Allow margins below nav to collapse
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.nav__button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: color $default-transition-style;
  @media screen and (min-width: $desktop-breakpoint) {
    margin-right: 1.33em;
    // Allow margins above nav__buttons to remain visible when navigating
    margin-top: 2rem;
    text-align: left;
  }

  &:link,
  &:visited {
    color: #aaa;
  }

  &:hover,
  &:active {
    color: $medium-mc;
  }
}

.nav__button--selected {
  &:visited,
  &:link,
  &:hover,
  &:active {
    color: $medium-mc;
  }
}
