.page-card__display {
  position: relative;
}

.page-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease-out, left 1s ease-out, visibility 1s ease-out;

  main > :first-child,
  main > :first-child > :first-child {
    margin-top: 0;
  }
}

.page-card--left,
.page-card--right {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 100vh;
}

.page-card--left {
  left: calc(-100% - 3rem);
}

.page-card--right {
  left: calc(100% + 3rem);
}
