.social-links {
  display: flex;
  justify-content: center;
  line-height: 1;
  margin: 1em 0;
}

.social-link {
  color: white;
  font-size: 3rem;
  margin: 0 $s-margin;
}

.social-link__icon {
  color: white;
  transition: color $default-transition-style;
}

.social-link__icon-mc {
  color: $medium-mc;
}

.social-link:hover > .social-link__icon-mc {
  color: $dark-mc;
}
