$dark-mc: #004eff;
$light-black: #333;
$light-mc: #55d0ff;
$medium-mc: #357cfd;

$s-margin: 0.5rem;
$m-margin: 1rem;
$l-margin: 2rem;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  @media screen and (min-width: 500px) {
    text-align: left;
  }
}

.banner {
  background: $dark-mc;
  background: radial-gradient(circle, $dark-mc 6%, $light-mc 100%);
  color: white;
  line-height: 1;
  padding: 4rem 0;

  .content-container {
    width: max-content;
  }

  div {
    font-size: 1.5rem;
    @media screen and (min-width: 500px) {
      font-size: 2rem;
    }
  }

  h1,
  h2 {
    font-weight: 400;
    margin: $s-margin auto;
    @media screen and (min-width: 500px) {
      margin: $m-margin auto;
    }
  }
}

.flex-columns {
  display: block;

  @media only screen and (min-width: 500px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    > div {
      margin-left: $l-margin;
    }

    > :first-child {
      margin-left: 0;
    }
  }
}

.content-container {
  margin: 0 auto;
  max-width: 900px;
  padding: $m-margin;
}

.content-card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px #999;
  margin: $l-margin 0;
  padding: $l-margin;

  > :first-child,
  > :first-child > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  img[src$=".gif"] {
    width: 100%;
  }
}

.grid {
  display: grid;
}

.grid--two-columns {
  grid-template-columns: 1fr 1fr;
}

.button {
  background-color: $medium-mc;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  margin: 0 $s-margin;
  padding: $s-margin $m-margin;
  text-decoration: none;

  &:hover {
    background-color: $dark-mc;
  }

  &.button--github {
    background-color: $light-black;
    &:hover {
      background-color: black;
    }
  }
}

.button-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: $m-margin 0;

  .button {
    margin: $s-margin auto;
    text-align: center;
    width: 100%;
  }

  @media only screen and (min-width: 500px) {
    flex-direction: row;

    .button {
      margin: 0 $s-margin;
      width: auto;
    }

    :first-child {
      margin-left: 0;
    }
  }
}

.image__link {
  display: block;
  margin: $m-margin 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: $l-margin;

  a,
  a:visited {
    color: white;
    font-size: 3rem;
    margin: 0 $s-margin;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.flex-grow {
  flex-grow: 1;
}
