$dark-mc: #004eff;
$light-black: #444;
$light-mc: #55d0ff;
$medium-mc: #357cfd;
$off-white: #ddd;

$s-margin: 0.5rem;
$m-margin: 1rem;
$l-margin: 2rem;

$default-transition-style: ease-out 300ms;
$desktop-breakpoint: 32rem;
