label,
input,
textarea {
  display: block;
  width: 100%;
  margin: $s-margin 0;
}

label {
  font-size: 1.5em;
  font-weight: 700;
  color: $medium-mc;
}

input,
textarea {
  border: 1px solid #000;
  border-radius: $s-margin;
  padding: $s-margin;
}

.g-recaptcha {
  transform: scale(0.77);
  transform-origin: 0 0;

  @media screen and (min-width: $desktop-breakpoint) {
    transform: none;
    transform-origin: none;
  }
}
